<config>
 <chain name='mychain'>
 <link config='ssh rich-tpad -x cat /home/rich/two.log' log='ssh rich-tpad -x cat /home/rich/one.xml' name='firstgo'/><link config='ssh rich-tpad -x &quot;cat /home/richard/two.log&quot;' log='ssh rich-tpad -x &apos;cat /home/richard/two.xml&apos;' name='seongo'/></chain>
 <chain name='otherchain'>
 </chain>
</config>
